.sj {
  &-inline-badge {
    min-height: 1rem;
    min-width: 1rem;
    font-size: 0.75rem;
    line-height: 0.5rem;
    color: #ffffff;
    padding: 0.3rem 5px;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
  }
}
