@import "../../assets/sass/_variables.scss";
.sj {
  &-mn {
    width: 70px;
    background-color: $mainNavBg;
    overflow-y: auto;
    transition: all 0.3s 0s ease-out;
    &--expanded {
      width: 220px;
    }

    &__nav {
      height: 100%;
      width: 100%;
      top: 0;
      overflow-y: auto;
      overflow-x: hidden;

      ul {
        margin: 0;
        padding: 0;
      }
    }
    &-logo{
      height: 60px;
      background-color: $mainNavBgActive;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-weight: 600;
    }
    &-user {
      padding: 35px 25px;
      background-color: $mainNavBgActive;
      &__img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
      &__name {
        display: block;
        font-weight: 600;
        color: $white;
        font-size: 14px;
        white-space: nowrap;
      }
      &__designation {
        display: block;
        font-weight: 600;
        font-size: 14px;
        color: $grey4;
        white-space: nowrap;
        .fas {
          margin-left: 5px;
        }
      }
    }
  }
}
