@charset "utf-8";

$family-sans-serif: "Open Sans", sans-serif;

$tag-color: #676a6c;
$tag-radius: 3px;
$tag-background-color: #FFFFFF;

$turquoise: #1bb394;
$yellow: #f8ac59;
$green: #23c6c8;
$red: #ef5352;
// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/form.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
